/* CSS3 STYLE GENERIC */
.view {
  width: 320px;
  height: 300px;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  box-shadow: 0px 0px 5px #aaa;
  cursor: default;
}
.view .mask,
.view .content {
  width: 320px;
  height: 300px;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}
.view img {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}
.view a.info {
  background: url(../img/link.png) center no-repeat;
  display: inline-block;
  text-decoration: none;
  padding: 0;
  text-indent: -9999px;
  width: 20px;
  height: 20px;
}
@media screen and (max-width: 768px) {
  .view .mask,
  .view .content {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
  }
  .view {
    width: 100%;
    height: 100%;
  }
  .view a.info {
    top:70px !important;
}
